<html>
<head>
</head>
<body>
 <!--  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.card4you.de&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>  -->  
<!--  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.card4you.de&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=recommend&amp;colorscheme=dark&amp;font=lucida+grande&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe> -->
<!--
<div id='fb_like'>
<div class="fb-like" data-href="http://www.card4you.de" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend" data-colorscheme="dark" data-font="lucida grande"></div></div>
-->
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.dkb.de%2Fcashback%2F&amp;send=false&amp;layout=button_count&amp;width=120&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=22" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:22px;" allowTransparency="true"></iframe>



</body>
</html>